Source: mininet-frr
Section: net
Priority: extra
Maintainer: Martin Winter <mwinter@opensourcerouting.org>
XSBC-Original-Maintainer: Bob Lantz <rlantz@cs.stanford.edu>
Standards-Version: 3.9.3
Build-Depends:
 debhelper (>= 9~),
 help2man,
 python3-dev,
 python3-pkg-resources,
 python3-setuptools
Homepage: http://openflow.org/mininet

Package: mininet-frr
Architecture: any
Depends:
 openvswitch-switch,
 telnet,
 socat,
 iperf,
 cgroup-bin,
 ${misc:Depends},
 ${python3:Depends},
 ${shlibs:Depends}
Recommends: openvswitch-controller
Conflicts: mininet
Description: Process-based network emulator
 Mininet is a network emulator which uses lightweight
 virtualization to create virtual networks for rapid
 prototyping of Software-Defined Network (SDN) designs
 using OpenFlow.
 mininet-frr is a fork of mininet, modified for Python3
 and will be ab
