Source: mininet
Section: net
Priority: extra
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Bob Lantz <rlantz@cs.stanford.edu>
Standards-Version: 3.9.3
Build-Depends:
 debhelper (>= 9~),
 help2man,
 python3-dev,
 python3-pkg-resources,
 python3-setuptools
Homepage: http://openflow.org/mininet

Package: mininet
Architecture: any
Depends:
 openvswitch-switch,
 telnet,
 socat,
 iperf,
 cgroup-bin,
 ${misc:Depends},
 ${python3:Depends},
 ${shlibs:Depends}
Recommends: openvswitch-controller
Description: Process-based network emulator
 Mininet is a network emulator which uses lightweight
 virtualization to create virtual networks for rapid
 prototyping of Software-Defined Network (SDN) designs
 using OpenFlow.
